<div class="container">
  <hr>
  <div class="row">
    <div class="col-xl-12">
      <div
        class="card">
<!--        <div class="card-header">{{ element.name }}</div>-->
<!--        for onchange demo-->

        <div class="card-header" #heading>{{ name }}</div>
        <div class="card-body">
<!--          <p>-->
<!--            <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>-->
<!--            <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>-->
<!--          </p>-->
<!--          another way with ng-content-->
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>
