<div class="container p-2">
  <div class="row">
    <div class="col-md-12">
      <div>
        <h2>Assignment 1</h2>
        <app-successalert></app-successalert>
        <app-warningalert></app-warningalert>
      </div>
      <hr>
      <div>
        <h2>Assignment 2</h2>
        <app-assignment2></app-assignment2>
      </div>
      <hr>
      <div>
        <h2>Assignment 3</h2>
        <app-assignment3></app-assignment3>
      </div>
      <hr>
      <div>
        <app-servers></app-servers>
        <!--        <div app-servers></div>-->
        <!--        <div class="app-servers"></div>-->
      </div>
      <hr>
      <div>
<!--        <app-test></app-test>-->
      </div>
      <div>
        <h2>Component Communication</h2>
        <app-communication></app-communication>
      </div>
      <hr>
      <div>
        <h2>Assignment 4</h2>
        <app-assignment4></app-assignment4>
      </div>
      <hr>
      <div>
        <h2>Directives</h2>
        <app-directive-demo></app-directive-demo>
      </div>
    </div>
  </div>
</div>
