<div class="container">
  <div class="row">
      <div class="col-sm-12">
        <h3>App component</h3>
        <hr>
        <app-servers></app-servers>
<!--        <div app-servers></div>-->
<!--        <div class="app-servers"></div>-->
        <hr>
        <div>
          <h3>Assignment 1</h3>
          <p><app-successalert></app-successalert></p>
          <p><app-warningalert></app-warningalert></p>
        </div>
        <hr>
        <div>
          <h3>Assignment 2</h3>
          <p><app-assignment2></app-assignment2></p>
        </div>
        </div>
      </div>
  </div>
